<!DOCTYPE html>
<html>
<head>
	<title>Yonsei Magic Timetable Manager</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
<header>
	<div id="ymtmanager">
	<img id="logo" src="logo3.png" alt="logo">
	</div>
</header>
<section>
	<div id="contents">
	<div id="chatlog">
		<div id="messagebox">
		aa
		</div>
	</div>
	<div id="userbox">
		<div id="chtabox">
		aa
		</div>
		<div id="sendbox">
		aa
		</div>
	</div>
	</div>
</section>
<footer> &copy; ymtmanager </footer>
</body>
</html>